@import "tailwindcss";

:root {
  --background: #ffffff;
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.pdf-container {
  max-height: 60vh;
  overflow: auto;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
}